/*
 * Globals
 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-color: #C0DEED;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

.margin-right-5px{
    margin-right: 5px;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.wrapper{
    margin-top: 80px;
    margin-bottom: 50px;
}

.search{
    border-radius: 18px;
}

.modal-dialog .modal-content .modal-header {
}

/* ========================= dashboard ========================= */
.sidebar-module .dashboard{
    background-color: #FFFFFF;
    border-radius: 5px;
}

button.publish {
    margin-top: 12px;
    margin-right: 150px;
    padding-left: 15px;
    padding-right: 15px;
}

.tweet-box {
    border: 1px solid #dddddd;
    width: auto;
    height: 100px;
    padding: 8px;
    display: block;
    overflow-y: auto;
    word-wrap: break-word;
    border-radius: 5px;
}