<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ningmengcao.space.dao.TweetDao">

    <sql id="TweetColumns">
        <![CDATA[
	      `tweet_id` AS tweetId,
          `content`,
          `images`,
          `user_id` AS userId,
          `category`,
          `create_time` AS createTime,
          `source`
        ]]>
    </sql>

    <select id="getTweetById" resultType="Tweet">
        SELECT
        <include refid="TweetColumns"/>
        FROM tweet
        WHERE tweet_id = #{tweetId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="tweetId"
            parameterType="com.ningmengcao.space.domain.Tweet">
        INSERT INTO tweet (
          `content`,
          `images`,
          `user_id`,
          `category`,
          `create_time`,
          `source`
        ) VALUES (
        	#{content},
        	#{images},
        	#{userId},
        	#{category},
        	#{createTime},
        	#{source}
        )
    </insert>

    <update id="updateById">
        UPDATE tweet
        <set>
            <if test="content != null">
                `content` = #{content},
            </if>
            <if test="images != null">
                `images` = #{images},
            </if>
            <if test="images != null">
                `images` = #{images},
            </if>
            <if test="userId != null">
                `user_id` = #{userId},
            </if>
            <if test="category != null">
                `category` = #{category},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="source != null">
                `source` = #{source}
            </if>
        </set>
        WHERE `tweet_id`= #{tweetId}
    </update>




</mapper>